*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --verde-escuro: #57a8ae;
    --verde-active: #327e83;
    --verde-claro: #9dcccf;
    --cinza: #e3e7e7;
    --rosa: #edc7cf;
    --preto: #1d1d1d;
    --cinza-escuro: #a1a1a1;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Lora;
}

/* NAVBAR */
nav{
    height: 14vh;
    width: 100%;
    padding: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--verde-claro);
}

#logo{
    color: var(--verde-escuro);
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
}

nav a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

nav a:hover{
    text-decoration: underline;
    color: var(--verde-escuro);
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 2vw;
}

#botao-cadastro{
    width: 10vw;
    height: 7vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-escuro);
}

#botao-cadastro:hover{
    color: white;
    text-decoration: none;
    background-color: var(--verde-active);
}

.searchbar{
    display: flex;
    align-items: center;
    width: 50vw;
    height: 7vh;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.searchbar input{
    width: 39vw;
    height: 7vh;
    border: none;
    background-color: white;
    padding-left: 20px;
    font-style: italic;
    outline: 0;
    font-family: Lora;
}

#lupa-icon{
    font-size: 18px;
    width: 4vw;
    position: absolute;
    right: 0;
    color: var(--preto);
}

.searchbar-dropdown{
    width: 8vw;
    height: 7vh;
    display: flex;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-escuro);
    color: white;
}

#dropdown-chevron{
    color: white;
    font-size: 12px;
}

/* SECTION 1 */

.section-1{
    display: flex;
    flex-direction: column;
    padding: 50px 0px 0px 50px;
    gap: 20px;
}

.section-1 h2{
    color: var(--preto);
}

.pag-inicial{
    display: flex;
    gap: 8px;
    text-decoration: none;
    color: var(--preto);
}

.filtros{
    display: flex;
    gap: 8px;
    margin-left: 20px;
}

.pag-inicial i, .filtros i{
    color: var(--verde-escuro);
    font-size: 20px;
}

/* POSTAGENS */
.posts-list{
    width: 100%;
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.postagem{
    /* background-color: var(--cinza); */
    border: 1px solid var(--cinza);
    border-radius: 10px;
    box-shadow: 0px 2px 5px #888888;
    width: 480px;
    height: 460px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    padding: 22px;
    font-size: 18px;
}

.postagem:hover{
    transform: translateY(-8px);
}

.img{
    background-color: var(--cinza);
    height: 300px;
    width: 450px;
    border-radius: 10px;
    object-fit: contain;
}

.postagem h1{
    text-align: left;
    width: 99%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
}

.username{
    text-align: left;
    width: 99%;
    font-style: italic;
}

.ano-div{
    width: 99%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.ano-div i{
    color: var(--verde-claro);
}