body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.postagem{
    border: solid 1px black;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}