*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --verde-escuro: #57a8ae;
    --verde-active: #327e83;
    --verde-claro: #9dcccf;
    --cinza: #e3e7e7;
    --rosa: #edc7cf;
    --preto: #1d1d1d;
    --cinza-escuro: #757575;
}

/* NAVBAR */

nav{
    height: 10vh;
    width: 100%;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--verde-claro);
    font-size: 110%;
}

nav h1{
    color: var(--verde-escuro);
    font-size: 240%;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: var(--verde-escuro);
    text-decoration: underline;
}

nav a:active{
    transform: translateY(3px);
}

.nav-links{
    display: flex;
    align-items: center;
    width: 20%;
    gap: 5%;
}

#botao-cadastro{
    width: 50%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-escuro);
}

#botao-cadastro:hover{
    background-color: var(--verde-active);
    text-decoration: none;
    color: white;
}

#botao-cadastro:active{
    transform: translateY(3px);
}

.searchbar{
    display: flex;
    align-items: center;
    height: 40px;
    width: 50%;
    border-radius: 10px;
    background-color: white
}

.searchbar input{
    height: 40px;
    width: 75%;
    border: none;
    background-color: white;
    padding-left: 20px;
    font-style: italic;
    outline: 0;
}

#lupa-icon{
    font-size: 18px;
    color: var(--preto);
    padding-left: 8px;
}

.searchbar-dropdown{
    width: 18%;
    height: 40px;
    display: flex;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--verde-escuro);
    color: white;
}

/* BODY */

body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: lora;
}

.posts-list{
    width: 100%;
    padding: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.postagem{
    background-color: var(--cinza);
    border-radius: 10px;
    width: 280px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    font-size: 20px;
}

.img{
    background-color: #327e83;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.postagem h1{
    text-align: left;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.desc{
    text-align: left;
    width: 250px;
    font-style: italic;
}

.ano_div{
    width: 250px;
    display: flex;
    gap: 5px;
}

.ano_div i{
    color: var(--verde-claro);
}