*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --verde-escuro: #57a8ae;
  --verde-active: #327e83;
  --verde-claro: #9dcccf;
  --cinza: #e3e7e7;
  --rosa: #edc7cf;
  --preto: #1d1d1d;
  --cinza-escuro: #757575;
  --vermelho: #d30707;
  --verde: #007b19;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Lora;
}


/* NAVBAR*/
nav {
  height: 10vh;
  width: 100%;
  padding: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--verde-claro);
}

#logo img{
  width: 250px;
  height: 100px;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

nav a:hover {
  text-decoration: underline;
  color: var(--verde-escuro);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2vw;
}

#botao-cadastro {
  width: 10vw;
  height: 7vh;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--verde-escuro);
}

#botao-cadastro:hover {
  color: white;
  text-decoration: none;
  background-color: var(--verde-active);
}

/* POSTAGENS */
.posts-list{
  width: 100%;
  padding: 70px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.postagem{
  /* background-color: var(--cinza); */
  border: 1px solid var(--cinza);
  border-radius: 10px;
  box-shadow: 0px 2px 5px #888888;
  width: 480px;
  height: 460px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 22px;
  font-size: 18px;
}

.postagem:hover{
  transform: translateY(-8px);
}

.img{
  background-color: var(--cinza);
  height: 300px;
  width: 450px;
  margin-bottom: 12px;
  border-radius: 10px;
  object-fit: contain;
}

.postagem h1{
  text-align: left;
  width: 99%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
}

.username{
  text-align: left;
  width: 99%;
  font-style: italic;
}

.ano-div{
  width: 99%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.ano-div i{
  color: var(--verde-claro);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5%;
  padding: 5% 0;
  width: 70%;
}

#profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.profile-header-details{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  color: var(--preto);
}

.profile-header-details h1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  font-size: 30px;
  color: var(--verde-escuro);
  width: 100%;
}

#edit-profile-icon{
  color: var(--cinza-escuro);
  cursor: pointer;
}

.username{
  display: flex;
  align-items: center;
  gap: 3px;
  text-align: left;
  width: 99%;
  font-style: italic;
}

#desc{
  font-size: 18px;
  width: fit-content;
}

hr{
  width: 80%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlay.hidden {
  display: none;
}

.edit-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
