*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --verde-escuro: #57a8ae;
    --verde-active: #327e83;
    --verde-claro: #9dcccf;
    --cinza: #e3e7e7;
    --rosa: #edc7cf;
    --preto: #1d1d1d;
    --cinza-escuro: #757575;
}

body{
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}

nav{
    height: 10vh;
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.377);
}

nav h1{
    color: var(--verde-claro);
    font-size: 40px;
}

nav a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 30px;
}

#botao-cadastro{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-claro);
}

.searchbar{
    display: flex;
    align-items: center;
    width: 750px;
    height: 40px;
    border-radius: 10px;
    background-color: white
}

.searchbar input{
    width: 600px;
    height: 40px;
    border: none;
    background-color: white;
    padding-left: 20px;
    font-style: italic;
    outline: 0;
}

#lupa-icon{
    font-size: 18px;
    width: 50px;
    color: var(--preto);
}

.searchbar-dropdown{
    width: 100px;
    height: 40px;
    display: flex;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--verde-escuro);
    color: white;
}

.section-1{
    background-color: var(--verde-claro);
    height: 80vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 30px;
}

.section-1_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-escuro);
    gap: 50px;
    width: 50%;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-align: center;
    color: white;
}

.section-1_1 h1{
    font-size: 90px;
}

.section-1_1 p{
    font-size: 40px;
}

.section-1_2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    background-color: var(--verde-claro);
    width: 50%;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.section-1_2 h1{
    font-size: 70px;
    color: var(--preto);
}

.input-icon .fa-regular{
    position: absolute;
    font-size: 20px;
    color: var(--verde-escuro);
    padding: 20px;
    min-width: 40px;
}

.section-1_2 input{
    border: none;
    border-radius: 30px;
    height: 60px;
    width: 400px;
    padding-left: 55px;
    font-style: italic;
    color: var(--cinza-escuro);
    outline: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.321);
}

.section-1 button{
    font-size: 30px;
    border: none;
    border-radius: 30px;
    height: 60px;
    width: 400px;
    color: white;
    background-color: var(--verde-escuro);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.321);
}

.section-1 button:hover{
    background-color: #327e83;
}

.section-1 button:active{
    transform: translateY(5px);
}

#toggle_password{
    text-align: left;
}

.link-cadastro{
    font-size: 20px;
}

.link-cadastro p{
    color: var(--preto);
}

.link-cadastro a{
    text-decoration: none;
    color: var(--verde-active);
}

.link-cadastro a:hover{
    text-decoration: underline;
}

#esqueceu-senha{
    text-decoration: none;
    color: var(--preto);
    width: 400px;
    text-align: right;
}
